@import "../../../media";
@import "../../../variable";
@import "../../../function";

.redd {
  height: 150px;
  width: 150px;
}
.caro-buttton {
  border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
  height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  button {
    width: 100px;
    color: color(primary);
    margin-right: 15px;
    height: 25px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: color(basic);
    border: 1px solid color(primary);
    &:hover {
      background: color(primary);
      color: color(basic);
      border: 1px solid color(primary);
    }
  }
}
.mag {
  margin-top: 25px;
}
.ft-wrap {
  background-color: #f8f8f8;
  width: 100%;
}
.ft-main {
  .ft-top {
    height: 60px;
    border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
  }
  // width: 70%;
  height: 100%;
  padding: 0 20px;
  @include for-size(tablet-portrait-up) {
    width: 100%;
  }
  .book-cards {
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
